name: Pushes Docker image to GitHub container registry

on:
  release:
    types: [created]
    branches:
      - main
      - issue-4

jobs:

  build_and_push_to_github:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Get tag
        id: repository
        run: echo "::set-output name=tag::$(git describe --tags HEAD)"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          drive: docker
          install: true
      
      - name: Log in to the Azure docker container registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{secrets.REGISTRY_SERVER}}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push to Azure container registry
        run: |
          docker build . -t ${{ secrets.REGISTRY_SERVER }}/myapp:${{ github.sha }}
          docker push ${{ secrets.REGISTRY_SERVER }}/myapp:${{ github.sha }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io          
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push to GitHub Packages
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ghcr.io/${{github.repository}}:${{steps.repository.outputs.tag}}
          # registry: docker.pkg.github.com
          # repository: data-science-ucsb/gauchocourses/gauchocourses:${{ github.event.release.tag_name }}
